
on:
  pull_request_target:
  push:
    branches:
      - main
      - develop


name: Clippy

concurrency:
  group: clippy-${{ github.event.pull_request.head.ref || github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
      - name: Install gtk-dev
        run: sudo apt-get install build-essential libgtk-3-dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features